body {
    font-family: 'Arial', sans-serif;
    margin: 10px;
    padding: 10px;
    background-image: url('../img/12.jpg');
    background-size: cover;
}

#titulo1 {
    text-align: center;
    color: #c57361;
    font-family: 'Arial', sans-serif;
    margin-top: 10px;
    background-color: aquamarine;
    border-radius: 30px;
    opacity: 0.7;
    padding: 5px;
}

section h2 {
background-color: aqua;
text-align: center;
}

/* Formulário */
form {
    max-width: 500px;
    margin: 30px auto;
    background: #ffffff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.1);
}

/* Campos um abaixo do outro */
fieldset {
    border: none;
    margin-bottom: 20px;
}

label {
    display: block;
    margin-top: 10px;
    margin-bottom: 5px;
    font-weight: bold;
    color: #333;
}

input,
select {
    display: block;
    width: 100%;
    padding: 10px;
    font-size: 1rem;
    border: 1px solid #ccc;
    border-radius: 6px;
    transition: border-color 0.3s;
}

/* Efeito ao focar */
input:focus,
select:focus {
    border-color: #2a4b7c;
    outline: none;
}

/* Textos de ajuda */
small {
    color: #666;
    font-size: 0.85rem;
}

/* Botões */
button {
    background-color: #2a4b7c;
    color: white;
    padding: 10px 20px;
    margin-right: 10px;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #1d355f;
}

#voltar {
    border-radius: 30px;
    background-color: #479191;
    padding: 35px;
    font-family: arial; font-size: 20px;
    padding-left: center;
    padding-right: center;
    color: white;
    margin: 10px;
    margin-left: 10px;
    display: inline-block;
    transition: background-color 0.3s ease;
    opacity: 0.7;
}

#voltar a {
    text-decoration: none;
}

#voltar:hover {
    background-color: #d41464;
    opacity: 1;
}